# Configurações MQTT
MQTT_BROKER=tls://seu-broker-mqtt:8883
MQTT_CLIENT_ID=meu-client-id
MQTT_CA_CERT_PATH=certs/ca-cert.pem

# Configurações PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha
POSTGRES_DB=meu_banco